.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 2px solid darkred;
}

.header-title {
  padding: 0 5px;
}

.progress {
  margin: 50px 20px 10px 20px;
  font-size: 16px;
  display: flex;
}

.notes {
  margin: 0 20px;
}

#progressContainer {
  margin-left: 5px;
  width: 500px;
  height: 18px;
  background-color: lavenderblush;
}

#encodeProgress {
  height: 100%;
  width: 0%;
  background-color: darkred;
}

#saveCapture {
  display: none;
}

.buttonContainer {
  display: flex;
}

#status {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 14px;
}

.button {
  padding: 10px;
  border: 2px solid rgb(139, 0, 120);
  font-size: 16px;
  background-color: lavenderblush;
  font-weight: bold;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  color: rgb(255, 0, 140);
  background-color: rgb(139, 0, 81);
}

#review {
  color: blue;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
